.sidebar {
    display: flex;
    flex-direction: column;

    gap: 0.5rem;

    overflow-y: auto;
    padding: 0.5rem;

    .entry {
        display: block;

        padding: 0.5em 0.3em;
        text-align: center;

        border: 1px solid rgb(120, 120, 120);
        border-radius: 0.3rem;
        background: #093A4B;

        cursor: copy;
        user-select: none;
        -webkit-user-select: none;

        &:active {
            filter: brightness(0.8);
        }
    }
}
